@import "tailwindcss";
@import "./scrollPage.css";
:root {
  --font-lato: "Lato", sans-serif;
  --color-primary: #09375e;
  --color-secondary: #0e8ed7;
}

@theme {
  --font-lato: var(--font-lato);

  /* colors */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

/* mostar dos lineas visbles en mis parrafos */
.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* CategoryFilter */
/* boton activo */
.button-category.active {
  background-color: #171717;
  color: white;
  font-weight: 700;
}
