@import "tailwindcss";
@import "./scrollPage.css";
:root {
  --font-lato: "Lato", sans-serif;
  --color-primary: #09375e;
  --color-secondary: #0e8ed7;
}

@theme {
  --font-lato: var(--font-lato);

  /* colors */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

/* mostar dos lineas visbles en mis parrafos */
.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* animacion de header */
.header-page-ss {
  animation: scroll-blur both;
  animation-timeline: scroll(root);
  animation-range: 0 200px;
}

@keyframes scroll-blur {
  100% {
    background-color: #ffffff20;
    backdrop-filter: blur(20px);
  }
}

.reset {
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* CategoryFilter */
/* boton activo */
.button-category.active {
  background-color: #171717;
  color: white;
  font-weight: 700;
}
