.animate-onload {
  animation: shimmer 1s linear infinite alternate-reverse;
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
